**/__pycache__
logs/**
!logs/__init__.py
!logs/Logger.py
dev
main_copy.py
test*
photos
old_photos
account.py
ids.py
token
Ivan_3friends
vk_friends*
samples
data
cache_photos
src/image_processing/facepp
new_photos
